In [17]:
a = ['apple', 'banana', 'apple', 'cherry']
print(a.count('apple'))

2

In [14]:
a = [1,2,3,4]
print(sum(a))

10

In [15]:
a = [1,2,3,4]
print(max(a))

4

In [16]:
a = [1,2,3,4]
print(min(a))

1

In [27]:
a = ['apple', 'banana', 'apple', 'cherry']
b = 'apple'
if b in a:
 print(True)
else:
 print(False)

True

In [ ]:
a = ['apple', 'banana', 'apple', 'cherry']
b = a[0] if a else None
print(b)

None

In [66]:
a = ['apple', 'banana', 'apple', 'cherry']
b = a[-1] if a else None
print(b)

cherry

In [ ]:
a = ['apple', 'banana', 'apple', 'cherry']
print(a[0:3])

['apple', 'banana', 'apple']

In [79]:
a = ['apple', 'banana', 'apple', 'cherry']
b = a[::-1] 
print(b)

['cherry', 'apple', 'banana', 'apple']

In [ ]:
a = ['apple', 'banana', 'apple', 'cherry']
print(sorted(a))

['apple', 'apple', 'banana', 'cherry']

In [92]:
a = ['apple', 'banana', 'apple', 'cherry']
a = list(set(a))
print(a)

['cherry', 'banana', 'apple']

In [100]:
a = ['apple', 'banana', 'apple', 'cherry']
b = 'ananas'
a.insert(3,b)
print(a)

['apple', 'banana', 'apple', 'ananas', 'cherry']

In [105]:
a = ['apple', 'banana', 'apple', 'cherry']
print(a.index('banana'))

1

In [127]:
def f(list, element):
    return list.index(element)

a = ['apple', 'banana', 'apple', 'cherry']
b = 'cherry'
print(f(a,b))

3

In [ ]:
a = ['apple', 'banana', 'apple', 'cherry']
if len(a) ==0:
    print(False)
else :
    print(True)

False

In [154]:
def count_even(list):
    count = 0
    for num in list:
        if num % 2 == 0:
            count = count + 1
    return count

def count_odd(list):
    count = 0
    for num in list:
        if num % 2 == 1:
            count = count + 1
    return count
    
a = [1, 2, 3, 4, 5, 6, 7]
print('Juft sonlar soni:', count_even(a))
    
a = [1, 2, 3, 4, 5, 6, 7]
print('Toq sonlar soni:', count_odd(a))

Juft sonlar soni: 3
Toq sonlar soni: 4

In [155]:
a = ['apple', 'banana', 'apple', 'cherry']
b = [1, 2, 3, 4, 5, 6, 7]
print([a, b])

[['apple', 'banana', 'apple', 'cherry'], [1, 2, 3, 4, 5, 6, 7]]

In [ ]:
a = [['apple', 'banana', 'apple', 'cherry'], [1, 2, 3, 4, 5, 6, 7]]
b = [1, 2, 3, 4, 5, 6, 7]

print(b in a)

False

In [ ]:
def replace(list, old, new):
    try:
        a = list.index(old)
        list[a] = new
    except ValueError:
        pass
    return list

a = [1, 2, 3, 4, 5, 6, 7]
print(replace(a, 1, 'apple'))

['apple', 2, 3, 4, 5, 6, 7]

In [8]:
a = [1, 2, 3, 4, 5, 10, 11, 1]
print(sorted(set(a))[-2])
print(sorted(set(a))[1])

10
2